<p class="lead-form mt-5">新規登録はこちら！</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class= "field">
    <%= f.label :名前,class: "label" %><br />
    <%= f.text_field :name, autofocus: true, class: "inputs", placeholder: "フルネーム" %>
  </div>

  <div class= "field">
    <%= f.label :ニックネーム,class: "label" %><br />
    <%= f.text_field :nickname, class: "inputs" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス,class: "label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputs", placeholder: "you@example.com" %>
  </div>

  <div class ="field">
    <%= f.label :好きな食べ物,class: "label" %><br />
    <%= f.text_field :favorite_food, class: "inputs"%>
  </div>

  <div class ="field">
    <%= f.label :趣味,class: "label" %><br />
    <%= f.text_field :hobby, class: "inputs" %>
  </div>

  <div class ="field">
    <%= f.label :ログインコード,class: "label" %><br />
    <%= f.text_field :login_name, class: "inputs", placeholder: "4桁の数字を入力して下さい" %>
  </div>

  <div class="field">
    <%= f.label :パスワード,class: "label" %>
    <br />
    <%= f.password_field :password, autocomplete: "new-password", class: "inputs", placeholder: "6文字以上で入力して下さい" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認,class: "label mb-5" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inputs" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-danger px-5 mr-3" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


