<p class="lead-form mt-5">パスワードを忘れましたか?</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email,class: "label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "inputs" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードをリセットする手順を送る" %>
    <p><%= link_to "戻る", new_session_path(resource_name), class: "btn btn-primary mt-4 px-5 text-white mb-5" %></p>
  </div>
<% end %>


