<main>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'image1.jpg'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'image2.jpg'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'image3.jpg'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'image4.jpg'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'image5.jpg'%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <!--画像のスライドショー-->
    <!--ユーザーが他のユーザーの思い出を見たくなるような文を書いて、誘導する-->
    <div class="text-center pt-5 top-comment">
        <p class="h6">
            みなさんは思い出を共有していますか？<br/>
            何歳になっても大切な人と写真を見返して、思い出を振り返りましょう。<br/>
        </p>
        <h3 class="pt-2">まずはみなさんの思い出を見てみましょう。</h3>
        <!--思い出一覧画面へ遷移。-->
        <%= link_to "みんなの思い出へ", posts_path, class: "btn btn-primary mt-3 text-white" %>
    </div>

</main>