<h4 class="rooms-title p-5">メッセージルーム</h4>
<% @entries.each do |e| %>
  <div class="user-name">
  <strong>
      <a class="rooms-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.name %>さん
      </a>
  </strong>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat p-5 text-center">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-hukidashi mt-3"> <strong><%= m.message %></strong> <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%> <%= m.user.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_for @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.hidden_field :user_id, value: @user.id %>
          <%= f.submit "送信する",class: 'form-submit mt-4 px-5 py-1'%><%= link_to "戻る", user_path(@user.id),class: "edit-link btn btn-primary text-white px-5 ml-4" %>
    <% end %>
  </div>
</div>

<div class="left-button">
</div>