<h2>編集画面</h2>
<%= form_with model: @post, local:true do |f| %>
<p>写真</p>
<%= f.attachment_field :image %>
<p>名前</p>
<%= f.text_field :name %>
<p>内容</p>
<%= f.text_area :content %>
<%= f.submit "保存" %>

<% end %>