<h2>思い出を残す</h2>
<%= form_with model: @post, local:true do |f| %>
<p>写真</p>
<%= f.attachment_field :image %>
<p>名前</p>
<%= f.text_field :name %>
<p>タイトル</p>
<%= f.text_field :title %>
<p>内容</p>
<%= f.text_area :content %>
<p>タグ<br>
<%= "スペースを入力することで複数のタグを付けることができます。" %><br>
<%= "例：音楽 文芸 スポーツ" %>
</p>
<%= f.text_area :tag_name %>
<%= f.submit "記録" %>

<% end %>